/* Lista de Presentes */
.gift-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.gift-card {
  background: rgba(255, 255, 255, 0.4);
  border: 1.5px solid rgba(83, 108, 148, 0.25);
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.gift-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.12);
}

.gift-image {
  width: 100%;
  height: 160px;
  object-fit: contain;
  background: rgba(255, 255, 255, 0.1);
}

.gift-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
  justify-content: space-between;
}

.gift-name {
  font-weight: 600;
  font-size: 0.95rem;
  line-height: 1.3;
  margin-bottom: 5px;
  color: var(--text-color);
}
.gift-desc {
  font-size: 0.75rem;
  opacity: 0.7;
  margin-bottom: 10px;
}

.gift-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.gift-price {
  font-weight: 600;
  font-size: 0.95rem;
  color: var(--accent-color);
}
.gift-buttons {
  display: flex;
  gap: 5px;
}

.btn-gift {
  background: var(--accent-color);
  color: var(--white-pure);
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
  transition: 0.3s;
}

.btn-gift:hover {
  background: var(--accent-dark);
  transform: translateY(-2px);
}
