/* ===== OVERLAY ===== */
.overlay {
  position: fixed;
  inset: 0;
  z-index: 99999;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f6f1e8;

  opacity: 1;
  visibility: visible;

  transition:
    opacity 1s ease,
    visibility 1s ease;
}

.overlay.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ===== ENVELOPE ===== */
.envelope {
  position: relative;

  height: 100vh;
  width: min(100vw, calc(100vh * 832 / 1216));

  aspect-ratio: 832 / 1216;

  perspective: 1800px;
}
.envelope-full {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: contain;

  z-index: 1;
}

.envelope.zoom {
  transform: scale(1.06);
}

/* base */
.envelope-back {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  object-fit: contain;

  display: block;
  z-index: 2;
}

/* aba */
.envelope-flap {
  position: absolute;
  inset: 0;

  transform-origin: top center;
  transform-style: preserve-3d;

  transition: transform 1.2s cubic-bezier(0.22, 0.61, 0.36, 1);

  z-index: 5;
}
.flap-img {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: contain;

  pointer-events: none;

  filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.12));
}
.envelope-full,
.envelope-back,
.flap-img {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* abre a aba */
.envelope.open .envelope-flap {
  transform: rotateX(150deg);
}

/* ===== SELO ===== */
.seal-btn {
  position: absolute;

  left: 50%;
  top: 60%;

  transform: translate(-50%, -50%);

  width: 38%;

  border: none;
  background: transparent;
  padding: 0;

  cursor: pointer;

  z-index: 20;
}

.seal-img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  display: block;

  filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.22));
}

/* celular */
@media (max-width: 768px) {
  .envelope {
    width: 96vw;
  }
}

@media (max-width: 768px) {
  .envelope {
    width: 100vw;
    height: 100vh;
    aspect-ratio: auto;
  }

  .envelope-full,
  .envelope-back,
  .flap-img {
    object-fit: cover;
  }

  .seal-btn {
    width: 45%;
    top: 57%;
  }
}
